.starfield-wrapper {
  background-color: transparent;
}

.stars {
  width: 300%;
  height: 300%;
  background-image: 
    radial-gradient(white 1px, transparent 1px),
    radial-gradient(white 1px, transparent 1px);
  background-size: 3px 3px, 6px 6px;
  background-position: 0 0, 50px 50px;
  animation: starfieldScroll 90s linear infinite;
  opacity: 0.08;
  position: absolute;
  top: -100%;
  left: -100%;
  z-index: -1;
}

@keyframes starfieldScroll {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(50%, 50%);
  }
}
