/* index.css */
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto Mono', monospace;
  @apply bg-white dark:bg-[#121212] text-gray-900 dark:text-gray-100;
  transition: background-color 0.3s ease;
}

/* Neon rotating green arc */
.neon-ring {
  background: conic-gradient(from 0deg, transparent 10%, #00ff80, transparent 90%);
  border-radius: 9999px;
  animation: spin-ring 2s linear infinite;
  filter: drop-shadow(0 0 6px #00ff80) drop-shadow(0 0 12px #00ff80);
}

@keyframes spin-ring {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
